<launch>
  <arg name="config" default="front_laser" />

  <param name="robot_description"
         command="$(find jackal_drive)/scripts/env_run
                    $(find jackal_drive)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find jackal_drive)/urdf/jackal.urdf.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <include file="$(find jackal_viz)/launch/view_robot.launch" />
</launch>
